.HomePage {
  padding-left: 20px;
}

.Fims:hover,
.Film:focus {
  color: red;
}

.ListOfFilms{
  counter-reset: my-counter;
  list-style-type: none;
}

.ListOfFilms li {
  position: relative;
  margin: 0 0 1rem 0;
  padding-top: 5px;
  counter-increment: my-counter;
  
  font-weight: 700;
}

.ListOfFilms li::before {
  content: counter(my-counter);
  color: #fcd000;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  --size: 28px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}